body {
  margin: 0;
  background-color: rgb(233, 248, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show1 {
  display: block;
}

.nav {
  display: inline-block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
}

.refier {
  margin: 10px 30px 10px 60px;
  font-weight: bold;
}

.nav li a {
  text-decoration: none;
  color: rgb(25, 4, 100);
}

.contact {
  margin: 27px 30px 10px 20%;
  color: black;
  font-size: 20px;
}

.other {
  margin: 27px 30px 10px 30px;
  color: black;
  font-size: 20px;
}

.btn {
  margin: 23px 30px 10px 30px;
}

.login {
  display: block;
  font-size: 20px;
  text-align: center;
  color: black;
  width: 100px;
  background-color: white;
  height: 40px;
  border: 1px black solid;
  border-radius: 7%;
}

.login:hover {
  background-color: rgba(105, 105, 105, 0.192);
  cursor: pointer;
}

.register {
  display: block;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px black solid;
  border-radius: 7%;
  cursor: pointer;
}

.content {
  display: block;
  top: 150px;
  left: 50px;
  position: absolute;
}

.filter {
  background-color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  border-radius: 5%;
  width: 23%;
  height: 400px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  z-index: 1;
}

.show {
  display: block;
}

.drop-icon {
  padding: 3px;
}

/* .dropmenu:active .dropdown{
  display: block;
} */

.dropdown li {
  float: initial;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}

.dropdown li:hover {
  background-color: rgba(105, 105, 105, 0.192);
}

.dropmenu {
  border: none;
  background-color: white;
  font-size: 20px;
  color: rgb(25, 4, 100);
  cursor: pointer;
}

.input {
  display: none;
  list-style-type: none;
  left: 15px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 20px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  z-index: 1;
}

.input li {
  padding: 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}

.input li a {
  text-decoration: none;
}

.show1 {
  display: block;
}

.switch {
  position: absolute;
  display: inline;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  /* float: right; */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.mid {
  position: absolute;
  top: 10px;
  left: 30%;
}

.custom-slider {
  display: inline-block;
  width: 200px;
  padding-top: 15px;
}

.label {
  float: left;
  font-weight: bold;
}

.card {
  display: block;
  /* height: 300px; */
  width: 90%;
  background-color: white;
  margin: 10px;
  border-radius: 3%;
}

.card-header {
  display: block;
  width: 60%;
  margin: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.card-header h4 {
  font-weight: normal;
  color: grey;
}

.tag{
  float: left;
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 5%;
  background-color: rgba(233, 248, 255, 0.966);
}

.apply{
  background-color: cadetblue;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 70px;
  color: white;
  margin-left: 100px;
  border-radius: 5%;
  margin-bottom: 20px;
}

.apply:hover {
  color: rgb(0, 53, 54);
}

.form {
  background-color: rgb(255, 255, 255);
  display: block;
  text-align: left;
  border-radius: 5%;
  width: 25%;
  height: 400px;
}

.form {
  display: block;
  top: 10px;
  left: 100%;
  position: absolute;
}

.form-header p{
  font-size: 20px;
  line-height: 7px;
  padding-left: 10px;
  color: darkcyan;
}

.form-mid p{
  padding-left: 10px;
  font-weight: 400;
}

.form-mid input{
  height: 25px;
  margin-left: 10px;
  border: 1px solid rgb(216, 214, 214);
}

.form-mid button{
  color: white;
  border: none;
  text-align: center;
  background-color: black;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.modal-content {
  width: 400px;
  background-color: white;
}

.modal-header , .modal-footer{
  padding: 10px;
}

.modal-title{
  margin: 0px;
}

.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.close{
  float: right;
  border: none;
  background-color: white;
}

.signin{
  margin: 20px;
  border: 0.5px solid black;
  border-radius: 3%;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

.modal-header button:hover {
  background-color: black;
  color: white;
}

.modal-body input{
  width: 300px;
  height: 30px;
}

.modal-body p{
  line-height: 5px;
}

.modal-body a{
  text-decoration: none;
  padding-top: 10px;
  /* margin: 30px; */
}

.modal-footer button{
  height: 50px;
  background-color: black;
  /* border: 0.5px solid black; */
  color: white;
  margin: 20px;
  width: 300px;
  text-align: center;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

@media screen and (max-width : 1100px){
  .form{
    display: none;
  }
}

@media screen and (max-width : 1227px){

  .refier{
    margin: 10px 10px 10px 30px;
  }

  .contact{
    margin-left: 10%;
  }

  .other {
    margin: 27px 2% 10px 2%;
  }

  .btn {
    margin: 23px 2% 10px 2%;
  }
}

@media screen and (max-width : 932px){

  .refier{
    margin: 10px 10px 10px 10px;
  }

  .contact{
    margin-left: 5%;
  }

  .other {
    margin: 27px 1% 10px 1%;
  }

  .btn {
    margin: 23px 1% 10px 1%;
  }
}

.icon {
  display: none;
  width: 70px;
  height: 30px;
  margin-top: 23px;
  margin-right: 5px;
  border: 1px solid black;
  background-color: white;
}

@media screen and (max-width: 776px) {
  .contact , .other{
    display: none;
  }

  .btn {
    margin: 23px 5% 10px 5%;
  }

  .nav button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width : 750px) {
  .filter {
    display: none;
  }

  .content{
    position: relative;
    top: 10px;
    left: 0px;
    width: 90%;
  }

  .mid{
    left: 5%;
  }

  .card{
    width: 80%;
  }
}

@media screen and (max-width : 555px){
  .register{
    display: none;
  }
}

@media screen and (max-width : 434px){
  .login{
    display: none;
  }
}

/* @media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
